@import url(//db.onlinewebfonts.com/c/0ead53f2aa201ff8c7b63d37769e0a02?family=Bitstream+Vera+Sans+Mono);

/* CSS for website */

.faq-header {
  background-image: url("https://i.imgur.com/8CvG4yh.png");
  background-repeat: no-repeat;
  background-position: center top;
}

p,
li,
#current-projects {
  color: #000000;
}

.description a,
.description a:visited,
.description a:hover {
  color: #bf11de;
  text-decoration: none;
}

.description a:hover {
  color: #bf11de;
  text-decoration: underline;
}

.faq-page a:not(.glossary-term),
.faq-page a:visited:not(.glossary-term) {
  color: #bf11de;
  text-decoration: none;
}

.faq-page a:hover {
  color: #bf11de;
  text-decoration: underline;
}


/* Image Gallery Style */

div.img {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 48%;
}

div.img:hover {
  border: 1px solid #777;
}

div.img img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}


/* End Image Gallery Style */


/* Status Marker Style */

span.status {
  font-family: 'Fira Sans', sans-serif;
  background: #ccc;
  background-image: -webkit-linear-gradient(#ddd, #bbb);
  background-image: linear-gradient(#ddd, #bbb);
  border: 1px solid #aaa;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-shadow: 1px 1px 1px #333;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
  margin: 1px 0;
  padding: 3px
}

span.success {
  background: #78c850;
  background-image: -webkit-linear-gradient(#78c850, #5ca935);
  background-image: linear-gradient(#78c850, #5ca935);
  border-color: #4a892b
}

span.failure {
  background: #f08030;
  background-image: -webkit-linear-gradient(#f08030, #dd6610);
  background-image: linear-gradient(#f08030, #dd6610);
  border-color: #b4530d
}

span.todo {
  background: #f8d030;
  background-image: -webkit-linear-gradient(#f8d030, #f0c108);
  background-image: linear-gradient(#f8d030, #f0c108);
  border-color: #c19b07
}

span.suspended {
  background: #f8d030;
  background-image: -webkit-linear-gradient(#f8d030, #dd6610);
  background-image: linear-gradient(#f8d030, #dd6610);
  border-color: #c19b07
}


/* End Status Marker Style */


/* Crew Tag Style */

.crewTag {
  background: url(https://socialclub.rockstargames.com/images/crew-community/cards/crew-tags-v2.svg) no-repeat 0 0;
  background-size: 64px 46px;
  height: 23px;
  width: 64px;
  font-family: "DroidSansMonoW02-Bold", "DroidSansMonoW10-Bold", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 13px;
  line-height: 23px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .6);
  text-transform: uppercase;
  color: #000;
  float: left;
  display: inline-block;
  position: relative;
  text-indent: 20px
}

.crewTag.private {
  background-position: bottom
}

.crewTag .hierarchy {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 64px;
  height: 2px;
  display: block
}

.crewTag .hierarchy span {
  width: 12px;
  height: 2px;
  margin-left: 1px;
  float: left;
  display: block
}

.crewTag .hierarchy span:first-child {
  margin-left: 0;
  border-radius: 0 0 0 1px
}

.crewTag .hierarchy span:nth-child(5n) {
  border-radius: 0 0 1px
}

.crewTag .crewColor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 64px;
  height: 2px;
  display: block;
  border-radius: 0 0 1px 1px
}

.hierarchy span {
  background: #000;
}

span#snce {
  background: #bf11de;
}

span#zoid {
  background: red;
}


/* End Crew Tag Style */