/* CSS for website */
.faq-header {
  background-image: url("http://i.imgur.com/8CvG4yh.png");
  background-repeat: no-repeat;
  background-position: center top;
}

p, li, #current-projects {
  color: #000000;
}

a, a:visited {
    color: #bf11de;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}