/* CSS for website */
.faq-header {
  background-image: url("https://prod.cloud.rockstargames.com/crews/sc/0156/27954462/publish/emblems/e83c7aa5dd4ffc0e35ada919d8ab1c7ceabb8358_512.png");
  background-repeat: no-repeat;
  background-position: center top;
}